In [7]:
import pandas as pd
import os, glob, json

In [8]:
records = []

city = 'mandaluyong'

# Append data from all text files in the data_condo_listings directory
for filepath in  glob.glob(os.path.join("data_listings/text_files", "*" + city + "*.txt")):
    with open(filepath, 'r', encoding='utf-8') as f:
        for line in f:
            records.append(json.loads(line))

df = pd.DataFrame(records)
df.describe()

              page
count  1500.000000
mean     25.500000
std      14.435682
min       1.000000
25%      13.000000
50%      25.500000
75%      38.000000
max      50.000000

In [3]:
# insert 'city' at column index 0 and 'page' at column index 1
df.insert(0, 'city', '')
df.insert(1, 'page', '')

# set 'city' value to 'makati' for all rows
df['city'] = city

# set 'page' value to count from 1, add 1 for every 30 rows
df['page'] = (df.index // 30) + 1

df

ValueError: cannot insert city, already exists

In [9]:
# Save the DataFrame to a CSV file
df.to_csv("lamudi-" + city + ".csv", index=False, encoding='utf-8-sig')